# AWS region to deploy resources
region = "us-east-1"

# EKS cluster configuration
cluster_name    = "eks-cluster-example"
cluster_version = "1.32"

# VPC configuration
vpc_cidr           = "10.0.0.0/16"
vpc_private_subnets = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
vpc_public_subnets  = ["10.0.101.0/24", "10.0.102.0/24", "10.0.103.0/24"]

# Node group configuration
node_group_name       = "main"
node_instance_types   = ["t4g.large"]
node_desired_capacity = 3
node_min_size         = 1
node_max_size         = 3
node_ami_type         = "AL2_ARM_64"

# Resource tags
tags = {
  Environment = "dev"
  Terraform   = "true"
}
